*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}




.hero {
    background: url(assets/hero\ background.jpeg);
    width: 90%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.hero-top {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    padding: 6rem;
}

.hero-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-txt h1 {

    margin: 5rem auto 2rem auto;

}

.hero-txt p {

    margin-top: 5rem;

}


.hero-fast-btn {
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 1.5rem;
    padding: .5rem;
    height: 1rem;
    width: 8rem;
    margin-bottom: -20px;
}

.hero-fast-btn img {
    width: 15px;
    height: 15px;
}

.hero-fast-btn p {
    color: #014839;
    font-size: .7rem;
    font-weight: 1000;
}

.hero-txt h1 {
    font-size: 4rem;
    color: #083322;
}

.hero-txt>p {
    font-size: 1.3rem;
    color: #313131;
    margin-top: -8px;
}

.hero-btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.hero-btn {
    padding: 1rem;
    width: 8rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.green-btn {
    background-color: #004939;
    color: #b6d11f;
}

.white-btn {
    background-color: #fff;
    color: #004939;
}

.partner-icons {
    width: 150px;
}

.hero-pic-one img {
    width: 230px;
}

.hero-pic-one,
.hero-pic-two,
.hero-pic-three,
.hero-pic-four {
    position: absolute;
}

.hero-pic-one,
.hero-pic-two,
.hero-pic-three,
.hero-pic-four img {
    width: 150px;
    height: 150px;

}

.hero-pic-one {
    left: 1rem;
    top: 0rem;
}

.hero-pic-two {
    right: 4rem;
    top: 0rem;
}

.hero-pic-three {
    bottom: 0rem;
    left: 14rem;
}

.hero-pic-four {
    bottom: 0rem;
    right: 7rem;
}


/*The lower section of hero that has the parners icon*/
.hero-icons {
    width: 95%;
    margin: 1rem auto;
    display: flex;
    gap: 5rem;
    align-items: center;
}

.partner-txt p {
    font-size: 1.2rem;
    font-weight: 600;
    color: #313131;
}

.partner-icons {

    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;

}

.partner-icons img {
    width: 150px;
    height: 55px;
}


/* MAXI STYLES */


.integration-section {

    
}

.int-container {
    margin: 3rem auto;
    background: url(assets/bg.jpeg);
    background-position: center;
    width: 90%;
    height: 80vh;
    overflow: hidden;
    border-radius: 10px;
}

.int-text {
    text-align: center;
    padding: 2rem;
    color: #fff;
    font-size: 1.2rem;
    /* line-height: 1.3; */

}
.int-text span {
    background-color: rgba(47, 47, 47, 0.445);
    color: white;
    font-size: 20px;
    padding: .5rem 1.5rem;
    border-radius: 20px;
}

.int-text span i {
    margin-right: .5rem;
    font-weight: light;
}

.int-text h2 {
    /* margin-top: 1rem; */
    font-size: 2.1rem;
}

.int-text p {
    margin-top: rem;
    line-height: 1.4;
    /* font-size: 0.8rem; */
}

.int-text a {
    text-decoration: underline;
    color: #fff;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.int-text a i {
    color: #f0f0f0;
    font-size: 1.2rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 90%;
    /* margin-top: 1.4rem; */
}

.slider-container {
    display: flex;
    gap: 3.5rem;
    width: 100%;
    animation: scroll 20s linear infinite;
}

.card {
    width: 5rem;
    height: 5rem;
    background: #fff;
    padding: .4rem;
    border-radius: 10px;
}

.card img {
    width: 4.6rem;
    height: 4.1rem;
}

.slider-container2 {
    display: flex;
    gap: 2rem;
    width: 97%;
    animation: scroll2 20s linear infinite;
}

.card2 {
    width: 4.7rem;
    height: 4.7rem;
    background: #fff;
    padding: .4rem;
    border-radius: 10px;
}

.card2 img {
    width: 4rem;
    height: 4rem;
}

.mail {
    width: 3rem;
    height: 2rem;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-80%);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(80%);
    }
}


/* JOJO'S STYLES */

.integration {

    width: 90%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.integration-text {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    padding: 2rem;

    span {
        color: #073127;
        font-size: xx-large;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p {
        color: #073127;
        font-size: xx-large;
        text-align: center;
        margin-top: 20px;
        font-weight: 300;
    }
}

.integration-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        height: 5rem;
        width: 7rem;
        /* border-radius: 50%; */
        background-color: #FFFFFF;
    }

}

/* JHESSY STYLES */

.stat-container {

    width: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #eef7f5;
    padding: 2rem 0;
    margin: 2rem auto;
}

.stat-container h1 {
    color: #004838;
    font-size: 5rem;
    font-weight: 600;
}

.stat-container p {

    color: #004838;
    font-size: 1.7rem;

}

/* ZACKA PAM STYLES */


.Discover {
    width: 90%;
    margin: 3rem auto;
    padding: 6rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(178, 27%, 17%);

}

.Discover h3 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0;
    text-align: left;
    color: #FFFFFF;



}

.clause {
    text-decoration: underline;
    text-decoration-color: chartreuse;

}

.btn {
    gap: 10px;
    display: flex;
    align-items: center;
}

.discover-btn1 {
    padding: 1.5rem 2rem;
    border-radius: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
}

.discover-btn2 {
    padding: 1.5rem 2rem;
    background-color: chartreuse;
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;


}


/* INTEGRATION SECTION  */


/* FOOTER BY RAPHAEL */
footer{
    width: 100%;
    background-color: #1A1A1A;
    color: #fff;
    padding: 50px;
    height: 100%;
    gap: 40px;
}
.footer-content{
    display: flex;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
    gap: 15rem;
    margin-bottom: 6rem;
}
.footer-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-logo{
    display: flex;
    align-items: center;
}
.footer-logo img{
    width: 70px;
    height: 70px;
    font-size: 24px;
    font-weight: bold;
}
.contacts{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-contact{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-left: 1rem;
    
}
.others{
    display: flex;
    gap: 12rem;
    margin-top: 1rem;
}
.list li{
    list-style: none;
}
.list a{
    text-decoration: none;
    color: #fff;
}
.solutions, .customers, .resources{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.solutions p, .customers p, .resources p{
    font-weight: bold;
    font-size: 18px;
}
.solutions ul, .customers ul, .resources ul{

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.last{
    display: flex;
    align-items: center;
    max-width: 1150px;
    margin: 0 auto;
    justify-content: space-between;
}
.socials a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-right: 20px;
}