.main{
    display: flex;
    justify-content: space-around;
    background-color: rgb(240, 238, 238);
    border-radius: 15px;
    padding-left: 70px;
    padding-right: 70px; 
    width: 80%;
    height: 150px;
    padding-top: 20px;
    margin-left: 70px;
    margin-top: 50px;
}